{% extends "layout.html" %}

{% block scripts %}
    {{super()}}
    {{pagedown.include_pagedown()}}
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}          

{% block body %}

          <div class="container-fluid">

            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-fw fa-folder"></i> My Topics</a></li>
                <li class=""><a href="#profile" data-toggle="tab"><i class="fa fa-fw fa-folder"></i> About Me</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    {% for tag in user.tags %}
                        <a href="{{url_for('filter_entries2', aTag=tag)}}"><span class="label label-default">{{tag}}</span></a>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="profile">
                  <p>{{user.bio}}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading panel-heading-gray">
                    <a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
                    <i class="fa fa-fw fa-info-circle"></i> About
                  </div>
                  <div class="panel-body">
                    <ul class="list-unstyled profile-about margin-none">
                        <li class="padding-v-5">
                            <div class="row">
                              <div class="col-sm-4"><span class="text-muted">User Name</span></div>
                              <div class="col-sm-8">{{user.name}}</div>
                            </div>
                        </li>
                        <li class="padding-v-5">
                            <div class="row">
                              <div class="col-sm-4"><span class="text-muted">Email</span></div>
                              <div class="col-sm-8">{{user.email}}</div>
                            </div>
                        </li>
                        <li class="padding-v-5">
                            <div class="row">
                              <div class="col-sm-4"><span class="text-muted">Date Joined</span></div>
                              <div class="col-sm-8">{{user.date_joined}}</div>
                            </div>
                        </li>
                        <li class="padding-v-5">
                            <div class="row">
                              <div class="col-sm-4"><span class="text-muted">Birth Date</span></div>
                              <div class="col-sm-8">{{user.date_of_birth}}</div>
                            </div>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading panel-heading-gray">
                    <i class="icon-user-1"></i> Friends
                  </div>
                  <div class="panel-body">
                    <ul class="img-grid">
                        <li>
                            {% for friend in user.friends %}
                                <i class="fa fa-user fa-fw"> <a href="{{ url_for('public_user_page', userID=friend.id) }}">{{friend.name}}</a></i>                     
                            {% endfor %}
                        </li> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading panel-heading-gray">
                <i class="fa fa-bookmark"></i> Library
              </div>
                <div class="panel-body">
                    <div class="row">
                        {% for libEntry in user.library%}
                            <div class="col-md-4">
                                <div class="panel panel-default">                        
                                  <div class="panel-body">
                                    <div class="media media-clearfix-xs-min">
                                        <div class="media-body">
                                            <h3 class="media-heading h4"><a href="{{ url_for('write_response', id=libEntry.id) }}">{{ libEntry.title }}</a></h3>
                                            <p class="small text-muted">
                                                <!-- <i class="fa fa-clock-o fa-fw"></i> time since post -->
                                                <i class="fa fa-user fa-fw"></i> <a href="{{ url_for('public_user_page', userID=libEntry.userID) }}">{{libEntry.user_name}}</a>
                                                <i class="fa fa-calendar fa-fw"></i> {{libEntry.date_posted}}                                
                                            </p>
                                            {% for tag in libEntry.tagList %}
                                                <a href="{{url_for('filter_entries2', aTag=tag)}}"><span class="label label-default">{{tag}}</span></a>
                                            {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}                    
                    </div>
                </div>
            </div>
          </div>


        
        
{% endblock %}   